<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangjun.demoapk">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ActivityDemo start -->
        <activity android:name=".ActivityDemo.ActivityDemoActivity" />
        <activity android:name=".ActivityDemo.TestActivityLifeCycleActivity" />
        <activity
            android:name=".ActivityDemo.TestActivityLifeCycleDialgActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ActivityDemo.TestActivityLifeCycleNorActivity" />
        <!-- ActivityDemo start -->


        <!-- HelloWorld start -->
        <activity android:name=".HelloWorld.HelloWorldActivity" />
        <!-- HelloWorld start -->


        <!-- IntentDemo start -->
        <activity android:name=".IntentDemo.IntentDemoActivity" />
        <activity android:name=".IntentDemo.TestIntentArgsActivity" />
        <activity android:name=".IntentDemo.TestIntentActivity">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentDemo.TestIntentBrowerActivity">
            <intent-filter>

                <!-- 接收和浏览器相关的 intent 事件 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- data 标签作用: -->
                <!-- 1. android:scheme -->
                <!-- 用于指定数据的协议部分，如上例中的 http 部分。 -->
                <!-- 2. android:host -->
                <!-- 用于指定数据的主机名部分，如上例中的 www.baidu.com 部分。 -->
                <!-- 3. android:port -->
                <!-- 用于指定数据的端口部分，一般紧随在主机名之后。 -->
                <!-- 4. android:path -->
                <!-- 用于指定主机名和端口之后的部分，如一段网址中跟在域名之后的内容。 -->
                <!-- 5. android:mimeTyp -->
                <!-- 用于指定可以处理的数据类型，允许使用通配符的方式进行指定 -->
                <!-- 只有<data>标签中指定的内容和 Intent 中携带的 Data 完全一致时， 当前活动才能够响应 -->
                <!-- 该 Intent -->
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- IntentDemo end -->


        <!-- LayoutDemo start -->
        <activity android:name=".LayoutDemo.LayoutDemoActivity" />
        <activity android:name=".LayoutDemo.TestTabLayoutActivity" />
        <!-- LayoutDemo end -->


        <!-- ListViewDemo start -->
        <activity android:name=".ListViewDemo.ListViewDemoActivity" />
        <activity android:name=".ListViewDemo.TestArrayAdapter" />
        <activity android:name=".ListViewDemo.TestSimpleCursorAdapter" />
        <activity android:name=".ListViewDemo.TestSimpleAdapter" />
        <activity android:name=".ListViewDemo.TestMyListView" />
        <!-- ListViewDemo end -->


        <!-- MenuDemo start -->
        <activity android:name=".MenuDemo.MenuDemoActivity" />
        <activity android:name=".MenuDemo.TestMenuActivity" />
        <!-- MenuDemo end -->


        <!-- SensorDemo start -->
        <activity android:name=".SensorDemo.SensorDemoActivity" />
        <activity android:name=".SensorDemo.TestAlsActivity" />
        <activity android:name=".SensorDemo.TestAccelActivity" />
        <!-- SensorDemo end -->


        <!-- StatusBarDemo start -->
        <activity android:name=".StatusBarDemo.StatusBarDemoActivity" />
        <activity android:name=".StatusBarDemo.testStaticHideBar1Activity" />
        <activity android:name=".StatusBarDemo.testStaticHideBar2Activity" />
        <activity android:name=".StatusBarDemo.testDynamicStatusBarActivity" />
        <!-- StatusBarDemo end -->


        <!-- WidgetDemo start -->
        <activity android:name=".WidgetDemo.WidgetDemoActivity" />
        <activity android:name=".WidgetDemo.TestWidgetActivity" />
        <!-- WidgetDemo end -->

        <activity android:name=".LayoutDemo.TestLinearLayoutActivity" />
        <activity android:name=".WidgetDemo.TestDynamidAddButtonActivity" />
        <activity android:name=".LayoutDemo.TestRelativeLayoutActivity" />
        <activity android:name=".LayoutDemo.TestFrameLayoutActivity" />
        <activity android:name=".LayoutDemo.TestTableLayoutActivity" />
        <activity android:name=".ActivityDemo.TestActivityLaunchModeActivity" />
        <activity android:name=".WidgetDemo.TestWidgetInheritActivity" />
        <activity android:name=".WidgetDemo.TestCustomWidgetActivity"></activity>
    </application>

</manifest>