<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangjun.demoapk">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HelloWorld start -->
        <activity android:name=".HelloWorld.HelloWorldActivity" />
        <!-- HelloWorld start -->


        <!-- ListViewDemo start -->
        <activity android:name=".ListViewDemo.ListViewDemoActivity" />
        <activity android:name=".ListViewDemo.TestArrayAdapter" />
        <activity android:name=".ListViewDemo.TestSimpleCursorAdapter" />
        <activity android:name=".ListViewDemo.TestSimpleAdapter" />
        <activity android:name=".ListViewDemo.TestMyListView" />
        <!-- ListViewDemo end -->


        <!-- SensorDemo start -->
        <activity android:name=".SensorDemo.SensorDemoActivity" />
        <activity android:name=".SensorDemo.TestAlsActivity" />
        <activity android:name=".SensorDemo.TestAccelActivity" />
        <!-- SensorDemo end -->


        <!-- StatusBarDemo start -->
        <activity android:name=".StatusBarDemo.StatusBarDemoActivity" />
        <activity android:name=".StatusBarDemo.testStaticHideBar1Activity" />
        <activity android:name=".StatusBarDemo.testStaticHideBar2Activity" />
        <activity android:name=".StatusBarDemo.testDynamicStatusBarActivity"></activity>
        <!-- StatusBarDemo end -->


    </application>

</manifest>