<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangjun.demoapk">

    <!-- ************************************ 相关权限 *********************************** -->


    <!-- 权限分类： -->
    <!-- 危险权限：危险权限即需要动态申请的权限,一共9组,取得一组中某一个权限的授权,则自动拥有该组的所有授权 -->
    <!-- 身体传感器 -->
    <!-- android.permission.BODY_SENSORS -->
    <!-- 日历： -->
    <!-- android.permission.READ_CALENDAR -->
    <!-- android.permission.WRITE_CALENDAR -->
    <!-- 摄像头 -->
    <!-- android.permission.CAMERA -->
    <!-- 通讯录 -->
    <!-- android.permission.READ_CONTACTS -->
    <!-- android.permission.WRITE_CONTACTS -->
    <!-- android.permission.GET_ACCOUNTS -->
    <!-- 地理位置 -->
    <!-- android.permission.ACCESS_FINE_LOCATION -->
    <!-- android.permission.ACCESS_COARSE_LOCATION -->
    <!-- 麦克风 -->
    <!-- android.permission.RECORD_AUDIO -->
    <!-- 电话 -->
    <!-- android.permission.READ_PHONE_STATE -->
    <!-- android.permission.CALL_PHONE -->
    <!-- android.permission.READ_CALL_LOG -->
    <!-- android.permission.WRITE_CALL_LOG -->
    <!-- com.android.voicemail.permission.ADD_VOICEMAIL -->
    <!-- android.permission.USE_SIP -->
    <!-- android.permission.PROCESS_OUTGOING_CALLS -->
    <!-- 短信 -->
    <!-- android.permission.SEND_SMS -->
    <!-- android.permission.RECEIVE_SMS -->
    <!-- android.permission.READ_SMS -->
    <!-- android.permission.RECEIVE_WAP_PUSH -->
    <!-- android.permission.RECEIVE_MMS -->
    <!-- android.permission.READ_CELL_BROADCASTS -->
    <!-- 存储空间 -->
    <!-- android.permission.READ_EXTERNAL_STORAGE -->
    <!-- android.permission.WRITE_EXTERNAL_STORAGE -->
    <!-- 一般权限 -->
    <!-- 除上面的危险权限之外的权限即为一般权限(普通权限) -->


    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 查询网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 监听开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 弹窗权限：动态申请 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 收发短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 访问外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- ************************************ 相关权限 *********************************** -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 程序入口 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ActivityDemo start -->
        <activity android:name=".ActivityDemo.ActivityDemoActivity" />
        <activity android:name=".ActivityDemo.CActivityLifeCycleActivity" />
        <!-- 声明此 Activity 为一个 Dialog -->
        <activity
            android:name=".ActivityDemo.CActivityLifeCycleDialgActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ActivityDemo.CActivityLifeCycleNorActivity" />
        <activity android:name=".ActivityDemo.CActivityLaunchModeActivity" />
        <!-- ActivityDemo end -->


        <!-- BroadcastsDemo start -->
        <activity android:name=".BroadcastsDemo.BroadcastsDemoActivity" />
        <activity android:name=".BroadcastsDemo.CBroadcastsIntroduceActivity" />
        <activity android:name=".BroadcastsDemo.CRegisterReceiverActivity" />
        <!-- 静态注册接收开机广播 -->
        <receiver android:name=".BroadcastsDemo.CRegisterReceiver_BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastsDemo.CSendBroadcastActivity" />
        <!-- 高优先级广播接收者 -->
        <receiver android:name=".BroadcastsDemo.CSendBroadcast_MyBroadcastReceiver">
            <intent-filter android:priority="100">
                <action android:name="com.example.wangjun.demoapk.BroadcastsDemo.CSendBroadcastActivity.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <!-- 低优先级广播接收者 -->
        <receiver android:name=".BroadcastsDemo.CSendBroadcast_MyBroadcastReceiver2">
            <intent-filter>
                <action android:name="com.example.wangjun.demoapk.BroadcastsDemo.CSendBroadcastActivity.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastsDemo.CLocalBroadcastManagerActivity" />
        <activity android:name=".BroadcastsDemo.CLoginForceOfflineLoginActivity" />
        <activity android:name=".BroadcastsDemo.CLoginForecOfflineMainActivity" />

        <receiver android:name=".BroadcastsDemo.CLoginForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.wangjun.demoapk.BroadcastsDemo.CLoginForecOfflineMainActivity.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
        <!-- BroadcastsDemo end -->


        <!-- ContentDemo start -->
        <activity android:name=".ContentDemo.ContentDemoActivity" />
        <activity android:name=".ContentDemo.CContentProviderActivity" />
        <!-- android:name 属性中指定了该类的全名 -->
        <!-- android:authorities 属性中指定了该内容提供器的权限 -->
        <provider
            android:name=".ContentDemo.CContentProvider_DatabaseProvider"
            android:authorities="com.example.databasetest.provider" />

        <activity android:name=".ContentDemo.CAccessContentProviderActivity" />
        <!-- ContentDemo end -->


        <!-- DataPersistenceDemo start -->
        <activity android:name=".DataPersistenceDemo.DataPersistenceDemoActivity" />
        <activity android:name=".DataPersistenceDemo.CReadWriteFileActivity" />
        <activity android:name=".DataPersistenceDemo.CSharedPreferencesActivity" />
        <activity android:name=".DataPersistenceDemo.COperateDatabaseActivity" />
        <!-- DataPersistenceDemo end -->


        <!-- HelloWorld start -->
        <activity android:name=".HelloWorld.HelloWorldActivity" />
        <!-- HelloWorld end -->


        <!-- IntentDemo start -->
        <activity android:name=".IntentDemo.IntentDemoActivity" />
        <activity android:name=".IntentDemo.CIntentArgsActivity" />
        <activity android:name=".IntentDemo.CIntentActivity">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentDemo.CIntentBrowerActivity">
            <intent-filter>

                <!-- 接收和浏览器相关的 intent 事件 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- data 标签作用: -->
                <!-- 1. android:scheme -->
                <!-- 用于指定数据的协议部分，如上例中的 http 部分。 -->
                <!-- 2. android:host -->
                <!-- 用于指定数据的主机名部分，如上例中的 www.baidu.com 部分。 -->
                <!-- 3. android:port -->
                <!-- 用于指定数据的端口部分，一般紧随在主机名之后。 -->
                <!-- 4. android:path -->
                <!-- 用于指定主机名和端口之后的部分，如一段网址中跟在域名之后的内容。 -->
                <!-- 5. android:mimeTyp -->
                <!-- 用于指定可以处理的数据类型，允许使用通配符的方式进行指定 -->
                <!-- 只有<data>标签中指定的内容和 Intent 中携带的 Data 完全一致时， 当前活动才能够响应 -->
                <!-- 该 Intent -->
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- IntentDemo end -->


        <!-- LayoutDemo start -->
        <activity android:name=".LayoutDemo.LayoutDemoActivity" />
        <activity android:name=".LayoutDemo.CTabLayoutActivity" />
        <activity android:name=".LayoutDemo.CLinearLayoutActivity" />
        <activity android:name=".LayoutDemo.CRelativeLayoutActivity" />
        <activity android:name=".LayoutDemo.CFrameLayoutActivity" />
        <activity android:name=".LayoutDemo.CTableLayoutActivity" />
        <activity android:name=".LayoutDemo.CLeftRightFragmentActivity" />
        <activity android:name=".LayoutDemo.CFragmentLifeCycleActivity" />
        <activity android:name=".LayoutDemo.CMultiLayoutActivity" />
        <activity android:name=".LayoutDemo.CFragmentAppActivity" />
        <activity android:name=".LayoutDemo.CFragmentApp_NewsContentActivity" />
        <!-- LayoutDemo end -->


        <!-- ListViewDemo start -->
        <activity android:name=".ListViewDemo.ListViewDemoActivity" />
        <activity android:name=".ListViewDemo.CArrayAdapter" />
        <activity android:name=".ListViewDemo.CSimpleCursorAdapter" />
        <activity android:name=".ListViewDemo.CSimpleAdapter" />
        <activity android:name=".ListViewDemo.CMyListView" />
        <activity android:name=".ListViewDemo.CUIChatActivity" />
        <!-- ListViewDemo end -->

        <!-- LocationDemo start -->
        <activity android:name=".LocationDemo.LocationDemoActivity" />
        <activity android:name=".LocationDemo.CLocationManagerActivity"></activity>
        <!-- LocationDemo end -->

        <!-- MenuDemo start -->
        <activity android:name=".MenuDemo.MenuDemoActivity" />
        <activity android:name=".MenuDemo.CMenuActivity" />
        <!-- MenuDemo end -->


        <!-- MultimediaDemo start -->
        <activity android:name=".MultimediaDemo.MultimediaDemoActivity" />
        <activity android:name=".MultimediaDemo.CNotificationActivity" />
        <activity android:name=".MultimediaDemo.CNotification_IntentActivity" />
        <activity android:name=".MultimediaDemo.CNotificationIntroduceActivity" />
        <activity android:name=".MultimediaDemo.CWidthNotificationIntroduceActivity" />
        <activity android:name=".MultimediaDemo.CWidthNotificationActivity" />
        <activity android:name=".MultimediaDemo.CNotificationProgressActivity" />
        <activity android:name=".MultimediaDemo.CReceiveSendSMSActivity" />
        <activity android:name=".MultimediaDemo.CTakePhotoActivity" />
        <!-- 解决 Android N 上报错：android.os.FileUriExposedException -->
        <!-- android:exported:要求必须为false，为true则会报安全异常； -->
        <!-- android:grantUriPermissions:true，表示授予 URI 临时访问权限； -->
        <!-- android:authorities这个属性的值，建议写包名+fileprovider，当然也可以起别的字符串，但是在设备中不能出现2个及以上的APP使用到同一个authorities属性值，因为无法共存。 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.wangjun.demoapk.MultimediaDemo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MultimediaDemo.CMediaPlayActivity" />
        <activity android:name=".MultimediaDemo.CExploerActivity" />
        <activity android:name=".MultimediaDemo.CVideoViewActivity" />
        <!-- MultimediaDemo end -->


        <!-- SensorDemo start -->
        <activity android:name=".SensorDemo.SensorDemoActivity" />
        <activity android:name=".SensorDemo.CAlsActivity" />
        <activity android:name=".SensorDemo.CAccelActivity" />
        <!-- SensorDemo end -->


        <!-- ServiceDemo start -->
        <activity android:name=".ServiceDemo.ServiceDemoActivity" />
        <activity android:name=".ServiceDemo.CAndroidThreadActivity" />
        <activity android:name=".ServiceDemo.CAsyncTaskActivity" />
        <activity android:name=".ServiceDemo.CServiceTestActivity" />
        <!-- 服务 -->
        <service android:name=".ServiceDemo.CServiceTest_MyService" />
        <service android:name=".ServiceDemo.CServiceTest_MyIntentService" />

        <activity android:name=".ServiceDemo.CServiceLifeCycleActivity" />
        <activity android:name=".ServiceDemo.CAlarmServiceActivity" />

        <service android:name=".ServiceDemo.CAlarmService_LongRunningService" />

        <receiver android:name=".ServiceDemo.CAlarmService_AlarmReceiver" />

        <!-- ServiceDemo end -->


        <!-- StatusBarDemo start -->
        <activity android:name=".StatusBarDemo.StatusBarDemoActivity" />
        <activity android:name=".StatusBarDemo.CAppCompatHideBar1Activity" />
        <activity android:name=".StatusBarDemo.CActivityHideBarActivity" />
        <activity android:name=".StatusBarDemo.CDynamicStatusBarActivity" />
        <!-- StatusBarDemo end -->


        <!-- WidgetDemo start -->
        <activity android:name=".WidgetDemo.WidgetDemoActivity" />
        <activity android:name=".WidgetDemo.CWidgetActivity" />
        <activity android:name=".WidgetDemo.CDynamidAddButtonActivity" />
        <activity android:name=".WidgetDemo.CWidgetInheritActivity" />
        <activity android:name=".WidgetDemo.CCustomWidgetActivity" />
        <activity android:name=".WidgetDemo.CWidgetSizeActivity" />
        <activity android:name=".WidgetDemo.CTextViewActivity" />
        <!-- WidgetDemo end -->


        <!-- WebDemo end -->
        <activity android:name=".WebDemo.WebDemoActivity" />
        <activity android:name=".WebDemo.CWebViewActivity" />
        <activity android:name=".WebDemo.CHttpURLConnectionTestActivity" />
        <activity android:name=".WebDemo.CHttpClientActivity" />
        <activity android:name=".WebDemo.CXMLAnalysisActivity" />
        <activity android:name=".WebDemo.CJSONObjectActivity" />
        <activity android:name=".WebDemo.CGSONActivity" />
        <!-- WebDemo end -->


    </application>

</manifest>